<?xml version='1.0' encoding='utf-8' standalone='yes'?> 
xliff(version='1.0')
  
  file(source-language='', datatype='plaintext', original='messages', product-name='', date='date')
    header/
    body
      trans-unit(id='flux.fluidcontent') 
        <source>Fluid content element example</source>
