xliff(version='1.0')
  file(source-language='', datatype='plaintext', original='messages', product-name='', date='date')
    header/
    body
      trans-unit(id='flux.fluidcontent') 
        = "\n"
        != "\t\t\t\t<source>Fluid content element example</source>"
      trans-unit(id='flux.fluidpage.description')  
        = "\n"
        != "\t\t\t\t<source>Description can be entered in LLL file locallang.xlf of extension extensionkey</source>"
      trans-unit(id='flux.fluidpage')  
        = "\n"
        != "\t\t\t\t<source>Standard fluid page</source>"
      trans-unit(id='flux.fluidpage.description')  
        = "\n"
        != "\t\t\t\t<source>Description can be entered in LLL file locallang.xlf of extension extensionkey</source>"
